@using MVCWeb.Model.Models
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = Enum.GetName(typeof(EnumObjectType), EnumObjectType.社区) + " - 象空网";
    List<NewBee> TopNewBeeList = ViewBag.TopNewBeeList as List<NewBee>;
    List<NullUser> TopTenUser = ViewBag.TopTenUser as List<NullUser>;
}
@section head{
    <!--fileupload-->
    <script src="~/Scripts/FileUpload/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/FileUpload/jquery.fileupload.js"></script>
    <!--highlight.js-->
    <link href="~/Scripts/HighlightJs/default.min.css" rel="stylesheet" />
    <script src="~/Scripts/HighlightJs/highlight.min.js"></script>
    <!--marked-->
    <script src="~/Scripts/Marked/marked.js"></script>
    <!--simplePagination-->
    <script src="~/Scripts/SimplePagination/jquery.simplePagination.js"></script>
    <!--Page-->
    <script src="~/Scripts/Views/NewBeeList.js"></script>
}
<div class="row">
    <div class="col-md-9">
        <div style="float:left;width:120px">谈笑风生</div>
        <div style="float:left; margin-left: 10px; width:400px">置顶</div>
        <div style="float:left; margin-left: 10px; width:300px"><a href="@Url.Action("UserRange", "Home")" target="_blank">等级排行</a></div>
    </div>
    <div class="col-md-3 text-right">Ctrl+D</div>
</div>
<div class="row" style="padding-bottom: 15px">
    <div class="col-md-12" style="height: 100px;">
        <div class="row">
            <div class="col-md-9">
                <div style="float:left; width: 120px">
                    <iframe src="~/StaticHtml/Page3/index.html" frameborder="0" height="100" width="120" scrolling="no"></iframe>
                </div>
                <div style="float: left; margin-left: 10px; width: 400px">
                    @{ int i = 0; }
                    @foreach (NewBee nb in TopNewBeeList)
                    {
                        i++;
                        if (i > 10)
                        {
                            break;
                        }
                        <div style="width: 200px; height: 20px; overflow:hidden; float:left">
                            >&nbsp;<a href="@Url.Action("NewBeeView", "Home", new { id = nb.ID })">@nb.Title.MaxByteLength(24)</a>
                        </div>
                    }
                </div>
                <div style="float: left; margin-left: 10px; width: 300px; position: relative;">
                    @foreach (NullUser user in TopTenUser)
                    {
                        string userName = string.IsNullOrEmpty(user.Name) ? user.GitHubLogin : user.Name;
                        int exp = user.EXP == null ? 0 : user.EXP.Value;
                        <div style="height: 20px; overflow:hidden; float:left; padding-right: 10px">
                            <a href="@Url.Action("UserProfile", "Home", new { id = user.ID })" style="text-decoration:none;color:@Html.GetLevelColor(Html.GetLevelKVP(exp).Key)" target="_blank" class="popup2" uid="@user.ID">@userName.MaxByteLength(20)</a>
                        </div>
                    }
                    <div class="popup2 dropdown-menu" id="DivPopup2" style="display:none;width: 180px; height: 100px;">
                        加载中……
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @if (ViewBag.Login)
                {
                    <div style="float:left" id="DivCard" uid="@ViewBag.CurrentUserID">

                    </div>
                    <div style="float:right">
                        <div style="height: 50px; line-height: 50px; text-align:center">
                            @if (ViewBag.ShowSignIn)
                            {
                                <button id="BtnSignIn" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> 签到</button>
                            }
                            else
                            {
                                <span>已签到</span>
                            }
                        </div>
                        <div style="height: 50px; line-height: 50px">
                            <button id="BtnPostNew" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> 发帖</button>
                        </div>
                    </div>
                }
                else
                {
                    <div style="height: 100px; line-height: 100px; text-align: center">
                        <a class="btn btn-success" href="https://github.com/login/oauth/authorize?client_id=24a08f126aa24d86e657&redirect_uri=http://objnull.com/OAuth/GitHubLogin&scope=user,public_repo&state=12345">Github登录</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<input id="ValPageSize" type="hidden" value="30" />
<div class="row">
    <div id="NewBeePage" class="col-md-12" style="position:relative">
    </div>
</div>
<hr />
@if (ViewBag.Login)
{
    if (string.IsNullOrEmpty(ViewBag.DisableMsg))
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-12">
                        <input id="TxtTitle" class="form-control" type="text" placeholder="标题" />
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-3">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="javascript:;" id="BtnCmt">内容</a></li>
                            <li role="presentation"><a href="javascript:;" id="BtnPre">预览</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 text-right" style="line-height: 40px">
                        <span>查看&nbsp;<a href="http://mvc.objnull.com/zh/Demo/MarkDownSyntax" target="_blank">MarkDown语法，</a></span>
                        <input id="JqueryUpload" class="uploader" type="file" name="upFile" data-url="@Url.Action("JqueryUploadImg", "File", new { pt = (int)EnumObjectType.社区 })" style="display:none">
                        <span>拖拽或<a id="TxtChoseFile" href="javascript:;">选择图片</a>上传（chrome内核支持截图粘贴）</span>
                        <span id="UpPercent" style="color:#ff6a00"></span>
                    </div>
                    <input id="ValPt" type="hidden" value="@((int)EnumObjectType.社区)" />
                </div>
                <div class="row">
                    <div id="PreBox" class="col-md-12 mdv" style="min-height: 50px">
                    </div>
                    <div id="EditBox" class="col-md-12">
                        <textarea id="CmtTxt" class="form-control" rows="5" style="resize:vertical;"></textarea>
                    </div>
                </div>
                <div class="row" style="padding: 10px 0px">
                    <div class="col-md-12 text-center">
                        <button id="BtnConfirm" class="btn btn-default">确定</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="padding: 30px 0px">
            <div class="col-md-8 col-md-offset-2 text-center">
                @ViewBag.DisableMsg
            </div>
        </div>
    }
}
else
{
    <div class="row" style="padding: 30px 0px">
        <div class="col-md-8 col-md-offset-2 text-center">
            请登录后发帖
        </div>
    </div>
}

